<div class="detalle-deteccion-container">
  <h3 class="mb-3">Detecciones del {{ fecha }}</h3>
  <div class="row mb-4">
    <div class="col-12">
      @if (url) {
        <div id="imageContainer" class="text-center">
          <img [src]="url" alt="Imagen cargada" class="img-fluid rounded shadow-sm" />
        </div>
      }
    </div>
  </div>
  <div class="datatable-filter">
    <input
      type="text"
      placeholder="Buscar en todas las columnas"
      (keyup)="updateFilter($event)"
      class="filter-input"
    />
  </div> 
  <ngx-datatable
    class="material striped"
    [rows]="filteredDetecciones"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [scrollbarH]="true"
  >
    <ngx-datatable-column name="Objeto" prop="objeto" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Coordenadas (X, Y)" [flexGrow]="2" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span class="quantity-cell text-end w-100 d-block">{{ row.x | number: '1.2-2' }}, {{ row.y | number: '1.2-2' }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Ancho" prop="weight" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="quantity-cell text-end w-100 d-block">{{ value | number: '1.2-2' }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Alto" prop="height" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="quantity-cell text-end w-100 d-block">{{ value | number: '1.2-2' }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Confianza" prop="confidence" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="quantity-cell text-end w-100 d-block">{{ value | number: '1.2-2' }}</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>