<div class="detalle-deteccion-container">
    <h2 class="title">Detecciones del {{ fecha }}</h2>
    
    <table class="detecciones-table">
      <thead>
        <tr>
          <th>Objeto</th>
          <th>Coordenadas (X, Y)</th>
          <th>Ancho</th>
          <th>Alto</th>
          <th>Confianza</th>
        </tr>
      </thead>
      <tbody>
    @for (deteccion of detecciones ;track $index){
        <tr>
          <td>{{ deteccion.objeto }}</td>
          <td>{{ deteccion.x | number: '1.2-2' }} , {{ deteccion.y | number: '1.2-2' }}</td>
          <td>{{ deteccion.weight | number: '1.2-2' }}</td>
          <td>{{ deteccion.height | number: '1.2-2'}}</td>
          <td>{{ deteccion.confidence | number: '1.2-2'}}</td>
        </tr>
    }
      </tbody>
    </table>
  </div>
