<div class="main-container">
  <h3 class="mb-3">Detecciones del proyecto</h3>
  <div class="botones">
      <div class="boton mb-3">
        <button class="btn btn-custom-gray" (click)="navigateToDetect()">Realizar Nueva Detección</button>
      </div>
      <div class="boton mb-3">
        <button class="btn btn-custom-gray" (click)="navigateToRestrict()">Comprobaciones automaticas</button>
      </div>
    
  </div>
  
   <div class="datatable-filter">
    <input
      type="text"
      placeholder="Buscar en todas las columnas"
      (keyup)="updateFilter($event)"
      class="filter-input"
    />
  </div> 

  <ngx-datatable
  class="material striped"

    [rows]="filteredDetecciones"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="5"
    
  >
  <ngx-datatable-column name="Día" prop="fechaCreacion">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span class="date-cell">{{ value | date:'dd/MM/yyyy' }}</span>
    </ng-template>
  </ngx-datatable-column>
    
  <ngx-datatable-column name="Cantidad" prop="cantidad">
    
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span class="quantity-cell text-end w-100 d-block">{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>
    
    <ngx-datatable-column name="Detalles" prop="fechaCreacion" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn btn-custom-gray custom-button" (click)="navigateToDetection(row.fechaCreacion)">
          <img src="assets/icons/details.svg" alt="icono borrar" style="width: 1.25rem; height: 1.25rem;">
                        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>



