<div class="main-container">
  <h3 class="mb-3">Detecciones del proyecto</h3>
  
  <div class="mb-3">
    <button class="btn btn-primary" (click)="navigateToDetect()">Realizar Nueva Detección</button>
  </div>

  <!-- <div class="datatable-filter">
    <input
      type="text"
      placeholder="Buscar en todas las columnas"
      (keyup)="updateFilter($event)"
      class="filter-input"
    />
  </div> -->

  <ngx-datatable
  class="material striped"

    [rows]="detecciones"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="5"
  >
  <ngx-datatable-column name="Día" prop="fechaCreacion">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span class="date-cell">{{ value | date:'dd/MM/yyyy' }}</span>
    </ng-template>
  </ngx-datatable-column>
    
    <ngx-datatable-column name="Número de Detecciones" prop="cantidad">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="quantity-cell">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Detalles" prop="fechaCreacion">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn btn-info custom-button" (click)="navigateToDetection(row.fechaCreacion)">
          Detalles
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>





  <div class="container mt-4">
    <h3 class="mb-3">Comprobaciones automaticas</h3>
  
    <div class="mb-3">
      <button class="btn btn-primary" (click)="showModal()">Crear comprobacion</button>
    </div>
  
    <div class="table-responsive">
      <ngx-datatable
        class="material striped"
        [rows]="restricciones"
        [columns]="columns2"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
      >
      <ngx-datatable-column name="ID comprobacion" prop="idRestriccion">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Objeto a comprobar" prop="objeto">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Desde" prop="fechaDesde">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | date:'dd/MM/yyyy' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Hasta" prop="fechaHasta">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | date:'dd/MM/yyyy' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Checkeada" prop="cumplida">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <ng-container *ngIf="value !== null">
            <svg *ngIf="!value" class="text-danger" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <svg *ngIf="value" class="text-success" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Información" prop="cumplida">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ng-container *ngIf="row.cumplida !== null">
            <button *ngIf="!row.cumplida" class="btn btn-sm btn-info" (click)="navigateToFallo(row.idRestriccion)">
              Info
            </button>
            <span *ngIf="row.cumplida">Sin fallos</span>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
      
<div id="createRestriccionModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Crear nueva comprobacion</h2>
    <form [formGroup]="fb">
      <label for="objeto">Objeto con restricción:</label>
      <select formControlName="objeto" id="objeto" required>
        <option value="" disabled selected>Selecciona un objeto</option>
        <option value="pala">Pala</option>
        <option value="cono">Cono</option>
        <option value="tubo">Tubo</option>
        <option value="camion">Camión</option>
        <option value="estacion">Estación</option>
        <option value="radiador">Radiador</option>
        <option value="tanque">Tanque</option>
        <option value="conexion">Conexión</option>
        <option value="pallet">Pallet</option>
      </select>
      
      <label for="fechaDesde">Desde:</label>
      <input type="date" formControlName="fechaDesde" id="fechaDesde" required />
      
      <label for="fechaHasta">Hasta:</label>
      <input type="date" formControlName="fechaHasta" id="fechaHasta" required />
      
      <label for="cantidadMin">Cantidad minima:</label>
      <input type="number" formControlName="cantidadMin" id="cantidadMin" placeholder="Introduce la cantidad minima" required min="0"  />
      <label for="cantidadMax">Cantidad maxima:</label>
      <input type="number" formControlName="cantidadMax" id="cantidadMax" placeholder="Introduce la cantidad max" required min="0"/>
      
      <button type="submit" (click)="createRestriccion()">Crear</button>
    </form>
  </div>
</div>
