<div class="project-container">
      <button (click)="showModal()" >Nuevo proyecto</button>
<table>
<tr>
      <th>
            Nombre
      </th>
      <th>
            Fecha
      </th>
      <th>
            Detalles
      </th>

</tr>
@for (proyecto of proyectos ;track $index){
      <tr>
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.fechaCreacion }}</td>
            <td><button>Detalles</button></td>
      </tr> 
}
</table>
</div>
<div id="createProyModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Crear nuevo proyecto</h2>
        <form [formGroup]="fb">
          <label for="projectName">Nombre del proyecto:</label>
          <input type="text" formControlName="nombre" id="projectName" placeholder="Introduce el nombre del proyecto" required />
          <button type="submit" (click)="create()">Crear</button>
        </form>
      </div>
    </div>