<div class="project-container">
      <button class="btn-custom-gray btn-sm d-flex gap-2" (click)="showModal()" ><img src="assets/icons/crear.svg" alt="icono detalles" style="width: 1.25rem; height: 1.25rem;">Nuevo proyecto</button>
      <ngx-datatable
  class="material striped"
  [rows]="proyectos"
  [columns]="columns"
  [columnMode]="ColumnMode.force"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="5"
>
  <ngx-datatable-column name="Nombre" prop="nombre">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Fecha" prop="fechaCreacion">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value | date:'dd/MM/yyyy' }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Detalles" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-custom-gray btn-sm" (click)="navigateToProject(row.idProyecto)">
        <img src="assets/icons/details.svg" alt="icono detalles" style="width: 1.25rem; height: 1.25rem;">
      </button>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Editar" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-custom-gray" (click)="editProyecto(row)">
        <img src="assets/icons/edit.svg" alt="icono editar" style="width: 1.25rem; height: 1.25rem;">
      </button>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Borrar" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-custom-gray" (click)="setProyectoForDelete(row.idProyecto)">
        <img src="assets/icons/delete-white.svg" alt="icono borrar" style="width: 1.25rem; height: 1.25rem;">
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
</div>
<div id="createProyModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ editPro ? 'Editar proyecto' : 'Crear nuevo proyecto' }}</h2>
        <form [formGroup]="fb">
          <label for="projectName">Nombre del proyecto:</label>
          <input [class.border-danger]="fb.controls['nombre'].errors && fb.controls['nombre'].touched" type="text" formControlName="nombre" id="projectName" placeholder="Introduce el nombre del proyecto" required />
          <label for="minConf">Confianza mínima:</label>
            <input type="number" formControlName="minConf" [class.border-danger]="fb.controls['minConf'].errors && fb.controls['minConf'].touched" id="minConf" placeholder="Introduce la confianza minima" required min="0"  />
            @if(errorMessage!=""){
                  <p class="text-danger">{{errorMessage}}</p>
            }
            <button type="submit" (click)="editPro ? edit() : create()">
                  {{ editPro ? 'Editar' : 'Crear' }}
                </button>
          
        </form>
      </div>
    </div>
    <!-- @if(showBorrarModal){ -->
    <div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': showBorrarModal}" [ngStyle]="{'display': showBorrarModal ? 'block' : 'none'}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar eliminación</h5>
            <button type="button" class="close" (click)="closeDelete()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Estás seguro de que quieres eliminar el proyecto?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDelete()">No</button>
            <button type="button" class="btn btn-danger" (click)="deleteProyecto(idProyecto)">Sí, eliminar</button>
          </div>
        </div>
      </div>
    </div>

     <!-- } -->