
<div class="fallos-container">
    <h2 class="fallos-title">Fallos de Restricción</h2>
    
      <table class="fallos-table">
        <thead>
          <tr>
            <th class="th-gris">Fallo ID</th>
            <th class="th-gris">Detalles</th>
            <th class="th-gris">Borrar</th>
          </tr>
        </thead>
        <tbody>
          @for (fallo of fallos; track $index) {
            <tr>
            <td>{{ fallo.falloId }}</td>
            <td>{{ fallo.datos }}</td>
            
            <td>
              <div class="boton-borrar">
              <button class="btn btn-custom-gray" (click)="deleteFallo( fallo.falloId)">
                <img src="assets/icons/delete-white.svg" alt="icono borrar" style="width: 1.25rem; height: 1.25rem;">
                      </button>
              </div>
            </td>
            </tr>
          
        }
        </tbody>
      </table>
    
  </div>
  