
<div class="fallos-container">
    <h2 class="fallos-title">Fallos de Restricción</h2>
    
      <table class="fallos-table">
        <thead>
          <tr>
            <th>Fallo ID</th>
            <th>Detalles</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          @for (fallo of fallos; track $index) {
            <tr>
            <td>{{ fallo.falloId }}</td>
            <td>{{ fallo.datos }}</td>
            
            <td>
              <div class="boton-borrar">
              <button class="btn btn-danger" (click)="deleteFallo( fallo.falloId)">
                Borrar
              </button>
              </div>
            </td>
            </tr>
          
        }
        </tbody>
      </table>
    
  </div>
  