body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F1F0;
}



h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}
.container-tabla {
  max-width: 1200px;
  margin: auto; /* Centra la tabla */
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de encabezado */
th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #1f2937; /* Gris casi negro */
  color: #ffffff; /* Texto blanco */
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #2563eb; /* Línea inferior azul */
}
.btn-custom-gray {
  color: #ffffff; /* Blanco para texto */
  background-color: #4b5563; /* Gris oscuro neutro */
  border-color: #374151; /* Gris más oscuro */
  border-radius: 0.5rem; /* Bordes redondeados */
}

.btn-custom-gray:hover {
  color: #ffffff;
  background-color: #2563eb; /* Azul vibrante */
  border-color: #1e40af; /* Azul más oscuro */
  transform: scale(1.05); /* Pequeño efecto de agrandamiento */
  transition: all 0.2s ease; /* Suaviza la transición */
}

.btn-custom-gray:focus, .btn-custom-gray.focus {
  box-shadow: 0 0 0 0.2rem rgba(37, 99, 235, 0.5); /* Azul translúcido */
}
/* Colores alternos para filas */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.2s ease;
}

td {
  border-bottom: 1px solid #ddd;
  align-items: center;
}



input[type="file"] {
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 70%;
  border: 3px dashed #A39D92;
  border-radius: 10px;
  background-color: #F5F5F5;
  color: #423e3c;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 1.1em;
}

input[type="file"]:hover {
  background-color: #E0E0E0;
  border-color: #8D8D8D;
}

input[type="file"]::before {
  content: "Haz clic o arrastra tu imagen aquí";
  display: block;
  font-weight: bold;
  font-size: 1.2em;
}

.btn-p {
  display: block;
  margin: 20px auto;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #A39D92;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-p:hover {
  background-color: #8D8D8D;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#imageContainer {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Encabezado */
header {
  background-color: #333;
  padding: 20px;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title-section {
  max-width: 60%;
}

.main-title {
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 5px;
}

.navbar {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-item a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}