body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F1F0; /* Cambio de color de fondo */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

input[type="file"] {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  border: 2px dashed #C0C9CC; /* Cambio de color del borde */
  border-radius: 5px;
  background-color: #A39D92; /* Cambio de color de fondo */
  color: #423e3c; /* Cambio de color del texto */
  text-align: center;
  cursor: pointer;
}

input[type="file"]:hover {
  background-color: #C0C9CC; /* Cambio de color de fondo al pasar el ratón */
}

input[type="file"]::before {
  content: "Subir imagen";
}

input[type="file"]::after {
  content: "o arrastrar y soltar aquí";
  display: block;
  margin-top: 10px;
  font-size: 0.8em;
  color: #5d5c5c;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #A39D92; /* Cambio de color de fondo del botón */
  color: #636059; /* Cambio de color del texto del botón */
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #C0C9CC; /* Cambio de color de fondo al pasar el ratón */
}

table {
  width: 60%; /* Ajusta el ancho de la tabla al 60% de su contenedor */
  margin: 20px auto; /* Centra la tabla horizontalmente y añade margen superior */
  border-collapse: collapse;
}

th, td {
  border: 1px solid #C0C9CC; /* Cambio de color del borde de la tabla */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #A39D92; /* Cambio de color de fondo del encabezado de la tabla */
  color: #ffffff; /* Cambio de color del texto del encabezado de la tabla */
}
