<input type="file" (change)="onFileSelected($event)" multiple>
<button class="btn btn-primary" (click)="onUpload()">Upload</button>
<div id="imageContainer"></div>
@if (url) {
  <div id="imageContainer">
    <img  src={{url}} alt="Imagen cargada" class="uploaded-image" />
  </div>
}
@if (detectionResults.objetos){
  <table>
    <thead>
      <tr>
        <th>Label</th>
        <th>Confidence</th>
        <th>X</th>
        <th>Y</th>
        <th>Weight</th>
        <th>Height</th>
      </tr>
    </thead>
    <tbody>
      @for(item of detectionResults.objetos; track $index) {
        <tr>
          <td>{{ item.label  }}</td>
          <td>{{ item.confidence | number: '1.2-2'}}</td>
          <td>{{ item.x | number: '1.2-2'}}</td>
          <td>{{ item.y | number: '1.2-2'}}</td>
          <td>{{ item.weight | number: '1.2-2' }}</td>
          <td>{{ item.height | number: '1.2-2'}}</td>
        </tr>
      }
    </tbody>
  </table>
}
