<header class="bg-dark text-white py-3 mb-3">
  <div class="w-100 px-3">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0">
        <h1 class="main-title d-flex align-items-center gap-2"> <img src="assets/icons/logo.svg" alt="icono logo" style="width: 2.75rem; height: 2.75rem;"> {{title}}</h1>
        <p class="subtitle mb-0">{{subtitle}}</p>
      </div>
      <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
        <ul class="nav-list d-flex mb-0">
          <li class="nav-item">
            <a href="proyectos" routerLinkActive="active" class="text-white mx-2 d-flex align-items-center gap-2">
              <img  src="assets/icons/proyectos.svg" alt="icono proyectos" style="width: 1.5rem; height: 1.5rem;">Proyectos
            </a>
          </li>
          <!-- @if(projectId){
            <li class="nav-item">
            <a href="proyecto/"+projectId routerLinkActive="active" class="text-white mx-2">
              Proyecto Actual
            </a>
          </li>
            } -->
          
          <li class="nav-item"> 
            <a (click)="signOut()" href="/" class="text-white mx-2 d-flex align-items-center gap-2 ">              
              <img  src="assets/icons/logout.svg" alt="icono borrar" style="width: 1.25rem; height: 1.25rem;">  Log Out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
